<!DOCTYPE html>
<html>
<head>
	<title>GST Verification</title>
	<!-- Add Bootstrap stylesheet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1 class="my-4">GST Verification</h1>
		<div class="card mb-4">
			<div class="card-body">
				<p class="card-text">Extracted Information:</p>
				<ul>
					<li>PAN : {{a.data.pan}} <span id="pan"></span></li>
					<li>GSTIN : {{a.data.gstin}} <span id="gstin"></span></li>
					<li>Company Type : {{a.data.ctb}} <span id="ctb"></span></li>
					<li>Trade Name : {{a.data.tradeName}}<span id="tradeName"></span></li>
				</ul>
			</div>
		</div>
        <!-- <button class="btn btn-primary" onclick="location.href='/check'">Verify GST</button> -->
    </div>
    

    
    <!-- Add Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/XD1i4jU8a7GXpVo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>    
